[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
pandas = "*"
mtcnn = "*"
tensorflow = "*"
keras = "*"
face-recognition = "*"
scikit-learn = "*"
ollama = "*"

[dev-packages]

[requires]
python_version = "3.10"
